# GITLAB
GITLAB_HOME=/srv/gitlab
GITLAB_HOSTNAME="lab.typingninjas.com"
GITLAB_EXTERNAL_URL="https://gitlab.typingninjas.com"

GITLAB_REGISTRY_URL="https://registry.typingninjas.com"
GITLAB_REGISTRY_HOST="registry.typingninjas.com"
GITLAB_REGISTRY_PORT=5050
