# -- BACKUP
BACKUPDIR=/mnt/backup

# -- GITLAB
GITLAB_EXTERNAL_URL=https://gitlab.example.com
GITLAB_REGISTRY_URL=https://registry.example.com

# -- NGINX
export GITLAB_HOST=gitlab.example.com
GITLAB_PORT=80
GITLAB_DOMAIN_MODE=2
GITLAB_SSL=/etc/letsencrypt/live/gitlab.example.com/fullchain.pem;
GITLAB_SSL_KEY=/etc/letsencrypt/live/gitlab.example.com/privkey.pem;
GITLAB_UPSTREAM=gitlab

GITLAB_REGISTRY_HOST=registry.example.com
GITLAB_REGISTRY_DOMAIN_MODE=2
GITLAB_REGISTRY_PORT=5050
GITLAB_REGISTRY_SSL=/etc/letsencrypt/live/registry.example.com/fullchain.pem;
GITLAB_REGISTRY_SSL_KEY=/etc/letsencrypt/live/registry.example.com/privkey.pem;
GITLAB_REGISTRY_UPSTREAM=registry

export SSL_BASEDIR=/etc/letsencrypt

# -- GITLAB RUNNER for all Projects

GITLAB_RUNNER_TOKEN=65-xcaw45ELo8w1Ezv_f
export GITLAB_RUNNER_DOCKER_SCALE=4