
PROJECT_NAME=example

USE_PROD_HOST=true
PROD_HOST=www.example.com
PROD_PORT=80
PROD_DOMAIN_MODE=2
PROD_SSL=/etc/letsencrypt/live/www.example.com/fullchain.pem;
PROD_SSL_KEY=/etc/letsencrypt/live/www.example.com/privkey.pem;

# Set false if not using a Beta Deployment
USE_BETA_HOST=true
BETA_HOST=beta.example.com
BETA_PORT=80
BETA_DOMAIN_MODE=2
BETA_SSL=/etc/letsencrypt/live/beta.example.com/fullchain.pem;
BETA_SSL_KEY=/etc/letsencrypt/live/beta.example.com/privkey.pem;

# Set false if not using the Review
USE_REVIEW_HOST=true
REVIEW_HOST=example.com
REVIEW_PORT=80
REVIEW_DOMAIN_MODE=1

# -- GITLAB RUNNER for Project
GITLAB_RUNNER_TOKEN=secret
export GITLAB_RUNNER_SCALE=4
