#-------------------------------------------------------------
#                +------------------+                        |
#               /|                 /|                        |
#              / |                / |                        |
#             *--+---------------*  |                        |
#             |  |               |  |                        |
#             |  |  System       |  |                        |
#             |  |  Bootstrapper |  |                        |
#             |  +---------------+--+                        |
#             | /                | /                         |
#             |/                 |/                          |
#             *------------------*                           |
#    +------+ https://www.system-bootstrapper.com
#$  /      /|                                                |
#  +------+ |                                                |
#  |      | +                                                |
#  |      |/                                                 |
#  +------+                                                  |
#-------------------------------------------------------------
# Filepath: ./.docker.env

# -- SEED
export SEED_DIR=/mnt/seed

# -- GITLAB
GITLAB_EXTERNAL_URL=https://gitlab.example.com
GITLAB_REGISTRY_URL=https://registry.example.com

# -- NGINX
export GITLAB_HOST=gitlab.example.com
GITLAB_UPSTREAM=gitlab
GITLAB_DOMAIN_MODE=2

GITLAB_SSL=/etc/letsencrypt/live/gitlab.example.com/fullchain.pem
GITLAB_SSL_KEY=/etc/letsencrypt/live/gitlab.example.com/privkey.pem

GITLAB_REGISTRY_UPSTREAM=registry

export GITLAB_REGISTRY_HOST=registry.example.com
GITLAB_REGISTRY_DOMAIN_MODE=2
GITLAB_REGISTRY_PORT=5050

GITLAB_REGISTRY_SSL=/etc/letsencrypt/live/gitlab.example.com/fullchain.pem
GITLAB_REGISTRY_SSL_KEY=/etc/letsencrypt/live/gitlab.example.com/privkey.pem

export SSL_BASEDIR=/etc/letsencrypt

# -- GITLAB RUNNER
GITLAB_RUNNER_TOKEN=secret-token
export GITLAB_RUNNER_DOCKER_SCALE=4

# --- Sync Settings
export SYNC_ENABLE=true

export SYNC_HOST=sync.example.com
export SYNC_USER=admin
export SYNC_PASS=admin
export SYNC_DOMAIN_MODE=2

export SYNC_SSL=/etc/letsencrypt/live/sync.example.com/fullchain.pem
export SYNC_SSL_KEY=/etc/letsencrypt/live/sync.example.com/privkey.pem

# created on Wed Nov 11 2020 16:41:54 GMT+0100 (Central European Standard Time)
